.btn{
    display: inline-block;

    margin:64px auto;
    min-height: 40px;
    min-width: 140px;
    // padding: 20px 62px;
    border: 3px $main-green solid;
    color: $main-green;
    border-radius: 9px;
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin: 16px 8px;
    line-height: 2.2;
}

.btn-solid{
    display: inline-block;
    // padding: 10px 30px;
    min-height: 40px;
    min-width: 140px;
        border: none;
        color: #ffffff;
        margin: 16px 8px;
        background: linear-gradient(90deg, #8dde8c 0%, #4dbc4b 100%);
        text-align: center;
        border-radius: 9px;
        line-height: 2.5;
}

.danger{
    border: 3px red solid;
    color: red;
}

.btn-sm{
    max-height: 20px;
    max-width: 90px;
    margin: 0;
    font-size: 12px;
    text-transform: lowercase;
    line-height: 3;
}
.btn-solid-search{
    margin: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

