// ============================recipe-cards================================
.recipe-card {
    cursor: pointer;
    min-height: 258px;
    // max-height: 258px;
    min-width: 248px;
    max-width: 13.33333%;
    margin: 16px;
    justify-content: space-between;
    // padding: 8px;
    // border: 1px #4dbc4b solid;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    &:hover {
        box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
        a {
            color: $green-text;
        }
        p {
            color: $text-color;
        }
    }

    h3 {
        text-align: left;
        margin: 12px 24px 8px;
        a {
            color: $text-color;
        }
    }
    p {
        margin: 0 24px;
        text-align: left;
        color: $not-active-text;
        min-height: 37px;
    }
    img {
        width: 100%;
        height: 40%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .rec-describe {
        margin-top: 32px;
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
        }
    }
}
.big-card {
    min-width: 740px;
    min-height: 240px;
    max-height: 240px;
    flex-flow: row wrap;
    margin: 16px auto;
    justify-content: flex-start;
    // padding: 8px;
    .img {
        width: 29.333%;
        height: 240px;
        overflow: hidden;
        img {
            object-fit: cover;
            min-height: 100%;
            min-width: 100%;
            // border-top-left-radius: 9px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 9px;
        }
    }
    .describe {
        max-width: 450px;
        // // margin-left:32px;
        padding: 5px 32px 25px;
        p {
            margin: 0;
        }
        .icons {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            ul {
                display: flex;
                list-style: none;
                justify-content: space-between;
                li {
                    margin: 5px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 0;
                }
            }
            button {
                border: none;
                background-color: #ffff;
                cursor: pointer;
            }
        }
    }
}

// ====================================category-cards============================
.category-card {
    display: flex;
    align-items: flex-end;
    min-height: 150px;
    min-width: 248px;
    max-width: 33.33333%;
    // border: 1px $main-green solid;
    // color: $main-green;
    border-radius: 20px;
    // margin: 16px 8px;
    background-color: $text-color;
    margin: 16px;
    h4 {
        color: #ffffff;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 25px 6px;

        a {
            color: #ffffff;
            //     font-style: normal;
            // font-weight: 500;
            // font-size: 18px;
            // margin: 25px 6px;
        }
    }
}
.cat-big {
    min-width: 260px;
}

// ====================================comments-cards============================
.comments-block {
    background-color: #f3f1f1;
    padding-bottom: 1em;
}
.comment {
    display: flex;
    margin: 1em auto;
    width: 80%;
    height: 180px;
    // justify-content: flex-start;
    flex-flow: row nowrap;
    background-color: #ffffff;
    // align-content: center;
    align-items: center;
    // border: 1px solid black;

    .img-div {
        border: 1px solid black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 50px;
    }
    .comment-text {
        display: flex;
        flex-flow: column wrap;
        margin: 10px;
    }
    h5 {
        margin: 15px 0;
    }
    p {
        margin: 15px 0;
    }
    .reply-link {
        margin: 2em 0em 0em 0em;
    }
}

.enter-comment {
    display: flex;
    margin: 0em auto;
    width: 75%;
    height: 140px;
    // justify-content: flex-start;
    flex-flow: column nowrap;
    // align-content: center;
    align-items: stretch;
    // border: 1px solid black;

    textarea {
        width: 100%;
        height: 65px;
        margin: 1em 0 1em 0;
        resize: none;
    }
}
