footer {
    min-height: 365px;
    flex: 0 0 auto;
    margin-top: 64px;
    background-color: $text-color;


    .footer-block-2 {
        // height: 220px;
        // margin-bottom: 0;
        padding-top: 0.6em;
        display: flex;
        flex-flow: column nowrap;

        h4 {
            text-align: center;
            font-size: 18px;
            margin: 16px auto;
            color: #ffffff;
            font-weight: 300;
        }
        .social-media {
            display: flex;
            justify-content: center;

            ul {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                li {
                    
                    margin: 1em;
                    font-size: 20px;
                    // width: 32px;
                    // height: 32px;
                    // border: 1px #ffffff solid;
                    // border-radius: 16px;
                }
                .fa-pinterest,
                .fa-youtube, .fa-instagram {
                    color: red;
                    font-size: 32px;
                    // width: 32px;
                    // height: 32px;
                    // border: 1px #ffffff solid;
                    // border-radius: 16px;
                }
                .fa-facebook-f,
                .fa-twitter {
                    color: blue;
                    font-size: 32px;
                    border-radius: 16px;
                }
            }
        }
        .links {
            display: flex;
            align-content: center;
            flex-flow: column wrap;
            ul {
                list-style: none;
                display: flex;
                margin-top: 3.4em;
                padding: 0;
                li {
                    margin: 0.6em;
                    a{
                    color: #ffffff;
                    text-decoration: inherit;

                    }
                }
            }
            p{
                text-align: center;
                color: #ffffff;
                font-weight: 300;
            }
        }
    }
}