

header {
    // min-height: 29em;
    width: 100%;
    // background-color: #c4c4c4; 
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    min-height: 74px;
    .nav-links {
        ul {
            padding: 0;
            margin: 0;
            justify-content: space-around;
            li {
                margin: 8px;
            }
        }
    }
    a {
        color: #3a3f5c;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    li {
        height: 2em;
        width: 5em;
        justify-content: space-between;
    }
  
    }
    .user-links {
        display: flex;

        .select-style-user {
            margin: 16px 8px;

            .dropdown {
                background-color: #ffffff;
                .dropbtn {
                background-color: #ffffff;
                min-height: 40px;
                min-width: 140px;
                    cursor: pointer;                    
                    color: $main-green;
                    // padding: 10px 50px;
                    border: 3px $main-green solid;
                    border-radius: 9px;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #ffffff;
                min-width: 140px;
                // border-radius: 9px;
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                a {
                    color: $text-color;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }

            .show {
                display: block;
            }
        }
    }

.header-img{
    background-image: url("/images/back.jpg");
    background-size: cover;
    height: 456px;
    h1{
        margin: 0 auto;
        text-align: center;
        color: $text-color;
        font-weight: 800;
        font-size: 62px;
        line-height: 6;
    }
   .search{
       text-align: center;
   }
}

a {
    text-decoration: none;
}

.bg-popup-login, .bg-popup-register{
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.bg-popup-login .popup-content,.bg-popup-register .popup-content{
    margin:5% auto;
   width: 400px;
//    min-width: 250px;
//    max-width: 250px;
//    height: 20%;
    padding:10px;
    background-color: #ffff;
    // opacity: 0.9;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
     
     form{
        //  text-align: center;
         h3{
         text-align: center;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: 0.095em;

         }
         label{
            font-size: 12px;
            line-height: 14px;            
            color: #3A3F5C; 
            text-align: left;           
            // opacity: 0.5;
         }
         input{
            width: 354px;
            height: 48px;
            border: 1px solid #CECFD7;
            border-radius: 9px
         }
         
     }
}
.search{
.search-items{
    display: flex;
    justify-content: center;
}
.cat-select {
    overflow: hidden; 
    width: 104px;
    height: 48px;
    // border-radius: 20px;
    // border-left: none;
    background-color: #ffff;

    select {
        outline: none;
        // border-radius: 20px;   
        // border-left: none;        
        padding: 9px;
        width: 115px;
        border: none;
        font-size: 14px;
        line-height: 30px;
        -webkit-appearance: none;
       

        option{
            font-family: $font-family-rubic;
        border: 1px green solid;
        padding: 10px;
    
    
        }
    }
   }
   input{
    outline: none;
    border: none;
    width: 274px;
    height: 48px;
    //    border:1px green solid;
    border-right: 1px solid #CECFD7;
    //    border-right: none;
       border-radius: 9px;
       border-bottom-right-radius: 0;
        border-top-right-radius:0;
   }
   }

