// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
@import 'variables';
$fa-font-path: '../webfonts';
@import 'style';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '../select2/dist/js/select2';
// @import 'select2/dist/css/select2';
@import "header";
@import "footer";
@import "buttons";
@import "cards";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';





