* {
    box-sizing: border-box;
    font-family: $font-family-rubic;
}
html {
    height: 100%;
    body {
        height: 100%;
        margin: auto;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // max-width: 1120px;
    // margin: 0 auto;
}

main {
    flex: 1 0 auto;
    max-width: 1120px;
    // min-width: 1120px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;
}
a,
button {
    outline: $none;
    text-decoration: $none;
}
.center {
    text-align: center;
    // margin-top: 64px;
}
.red {
    color: $red;
}
.login-form {
    display: none;
}

// ========================================HOME=============================
.pop-cat-wrapper {
    // padding: $headers-mg;

    h2 {
        // margin: $headers-mg;
        color: $text-color;
        padding: 64px 32px;
        letter-spacing: 0.095em;
        font-style: normal;
    }

    .popular-categories {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
}
.new-rec-wrapper {
    background-color: #f8f8f8;

    h2 {
        padding: 64px 32px;
        color: $text-color;
    }
    .newest-recipes {
        display: flex;
        justify-content: center;

        flex-flow: row wrap;
    }
}

.about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    .img {
        background-image: url("/images/back.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        min-width: 483px;
        height: 391px;
        border-radius: 20px;
    }
    .describe {
        max-width: 550px;
        height: 370px;
        h2 {
            font-style: normal;
            font-weight: 300;
            font-size: 44px;
            line-height: 52px;
            letter-spacing: 0.095em;
            color: $text-color;
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: $not-active-text;
        }
    }
}
// ========================</HOME>===========================================================

// ========================<RECIPES>=========================================================

/* =============================single-recipe page============================== */
.recipe-describe {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    flex-flow: row wrap;
    // flex-wrap: wrap;
}
.recipe-images {
    // background-color: #f5ebeb;
    min-width: 550px;
    max-height: 400px;
    min-height: 400px;
    max-width: 550px;
    width: 45%;
    overflow: hidden;
    img {
        width: 100%;
        // height: 100%;
    }
}
.recipe-items {
    padding: 1em;
    // background-color: #f5ebeb;

    h2 {
        text-align: center;
    }
    p {
        text-align: justify;
    }

    width: 45%;
    min-width: 550px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
}

.author-info {
    display: flex;
    justify-content: space-between;
    .user-info {
        display: flex;
        align-self: flex-start;
    }
}

.author-image {
    height: 50px;

    min-width: 50px;
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 50%;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 400px;
    flex-flow: row wrap-reverse;
    margin: 20px 0;

    .coocking {
        width: 70%;
        .img {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
    .ingridients {
        width: 20%;
        align-self: flex-end;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

// ====================================adding rcipe========================================================
.add-rec {

    h1 {
        color: #3a3f5c;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        letter-spacing: 0.095em;
        text-align: center;
    }
    label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #3a3f5c;
    }

    .main {
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-around;

        .photo {
            margin: 16px;
            width: 258px;
            height: 258px;
            background: #ffffff;
            border: 1px solid #cecfd7;
            border-radius: 9px;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .text {
            display: flex;
            flex-flow: column nowrap;
            margin: 16px;
            justify-content: space-between;

            input {
                width: 451px;
                height: 48px;
                // background: #ffffff;
                border: 1px solid #cecfd7;
                // box-sizing: border-box;
                border-radius: 9px;
                outline: $none;
            }
            .describe {
                textarea {
                    background: #ffffff;
                    border: 1px solid #cecfd7;
                    box-sizing: border-box;
                    border-radius: 9px;
                    width: 451px;
                    height: 144px;
                }
            }
        }
    }
    .additional {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        input {
            width: 226px;
            height: 48px;
            border: 1px solid #cecfd7;
            border-radius: 9px;
        }
        select{
            width: 226px;
            height: 48px;

            border: 1px solid #cecfd7;

            border-radius: 9px;
        }
    }
    .existsProd{
        height: 80px;
        display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
        input {
            width: 226px;
            height: 48px;
            border: 1px solid #cecfd7;
            border-radius: 9px;
        }
    }



.add-step {
    text-align: center;
    margin: $main-mg;
    // border: 1px black solid;
}
.add-product {
    text-align: center;
    margin: $main-mg;

    // border: 1px black solid;
}
.new-product{
.product-item-clean{
    display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        // align-items: flex-start;

        input {
            width: 226px;
            height: 48px;

            border: 1px solid #cecfd7;

            border-radius: 9px;
        }
    select{
        width: 226px;
        height: 48px;

        border: 1px solid #cecfd7;

        border-radius: 9px;
    }
}
}
.new-product {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    
}

    .steps{
        display: flex;
        .photo {
            margin: 16px;
            width: 258px;
            height: 166px;
            background: #ffffff;
            border: 1px solid #cecfd7;
            border-radius: 9px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .text {
            display: flex;
            flex-flow: column nowrap;
            margin: 16px;
            justify-content: space-between;
        
            textarea {
                background: #ffffff;
                border: 1px solid #cecfd7;
                box-sizing: border-box;
                border-radius: 9px;
                width: 451px;
                height: 144px;
            }
    
    }

    }
    

.single-cat {
    h1 {
        color: $text-color;
    }
}
}