@import 'header';
@import 'footer';
@import 'buttons';
@import 'cards';


* {
    box-sizing: border-box;
    font-family: $font-family-rubic;
}
html {
    height: 100%;
    body {
        height: 100%;
        margin: auto;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // max-width: 1120px;
    // margin: 0 auto;
}

main {
    flex: 1 0 auto;
    max-width: 1120px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;
}
a,button{
    outline: $none;
    text-decoration: $none;
}
.center {
    text-align: center;
    margin-top: 64px;
}
.red{
    color: $red;
}

// ========================================HOME=============================
.pop-cat-wrapper {
    h2 {
        margin: 64px auto 32px;
        color: $text-color;
    }

    .popular-categories {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;        
    }
}
.new-rec-wrapper {
    h2 {
        margin: 64px auto 32px;
        color: $text-color;
    }
    .newest-recipes {
        display: flex;
        justify-content: center;

        flex-flow: row wrap;
        
    }    
}
// ========================</HOME>===========================================================


// ========================<RECIPES>=========================================================

/* =============================single-recipe page============================== */
.recipe-describe {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    flex-flow: row wrap;
    // flex-wrap: wrap;
}
.recipe-images {
    background-color: #f5ebeb;

    min-width: 550px;
    // margin: 20px 10px 20px 10px;

    width: 45%;
}
.recipe-items {
    padding: 1em;
    background-color: #f5ebeb;
    h2 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
 
    width: 45%;
    min-width: 550px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
}

.author-info {
    display: flex;
    justify-content: space-between;
    .user-info {
        display: flex;
        align-self: flex-start;
    }
}

.author-image {
    height: 50px;

    min-width: 50px;
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 50%;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 400px;
    flex-flow: row wrap-reverse;
    margin: 20px 0;

    .coocking {
        width: 70%;
    }
    .ingridients {
        width: 20%;
        align-self: flex-end;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}


// ====================================adding rcipe========================================================
.add-rec {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h1{
        margin: $headers-mg;
    }

    .recipe-name {
        width: 100%;
        height: 40px;
        border: none;
        font-size: 30px;
        text-align: center;
        outline: $none;
    }
    textarea {
        width: 100%;
        height: 65px;
        margin: 1em 0 1em 0;
        resize: none;
        outline: $none;
        -moz-appearance: $none;
        text-align: left;
    }
    .category {
        display: flex;
        justify-content: space-between;
        select {
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            &:hover{
                background-color: $main-green;
            }

            option {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
    .add-step {
        text-align: center;
        margin: $main-mg;
        // border: 1px black solid;
    }
    .add-product {
        text-align: center;
        margin: $main-mg;

        // border: 1px black solid;
    }
    .new-product{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        .product-item-clean{
            input{
                // max-width: 33.333%;
            }
        }
    }
}
