/* =========================HEADER================================== */
* {
    box-sizing: border-box;
    font-family: $font-family-rubic;
}
html
 {
    height: 100%;
    body{
    height: 100%;
    margin: auto;

    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
  }

main {
    flex: 1 0 auto;
    max-width: 1120px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;
}
.center {
    text-align: center;
}
header {
    height: 30em;
    width: 100%;
    background-color: #c4c4c4;
}
nav {
    background-color: #c4c4c4;
}
.navigation {
    display: flex;
    justify-content: space-around;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    li {
        height: 2em;
        width: 5em;
        justify-content: space-between;
    }

    .add-recipe-button {
        height: 3em;
        width: 8em;
        background-color: #666666;
        color: #ffffff;
        border-radius: 10px;
        border: none;
    }
}

a {
    text-decoration: none;
}

.nav-links a {
    /* display: flex;
    justify-content: space-between; */
    color: #000000;
}

.search {
}
.search-items {
    background-color: #e2e2e2;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.pop-cat-wrapper{
    h2{
        margin: 64px auto 32px;
    }

.popular-categories {
    display: flex;
    justify-content: center;
    // align-content: space-around;
    // flex-wrap: wrap;
    flex-flow: row wrap;

    div {
        min-height: 150px;
        min-width: 248px;
        max-width: 33.33333%;
        // max-width: 256px;
    // flex: 0 0 auto;

        margin:  16px;
        // flex-flow: row wrap;
        border: 1px solid black;
        background-color: #e2e2e2;
    }
}

.all-categories-button {
    margin: 0 auto;
}
}

.new-rec-wrapper{
    h2{
        margin: 64px auto 32px;

    }
.newest-recipes {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    div {
        min-height: 150px;
        width: 20%;
        margin:  16px;
        // flex-flow: row wrap;
        border: 1px solid black;
        background-color: #e2e2e2;
    }
}

.newest-recipes-button {
    height: 50px;
    width: 200px;
    background-color: #c4c4c4;
    color: #000000;
    border: none;
    border-radius: 5px;
}
}
/* =============================select/input============================== */

.search-input {
    background-color: #c4c4c4;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
}

/* =============================single-recipe page============================== */
.recipe-describe {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    flex-flow: row wrap;
    // flex-wrap: wrap;
}
.recipe-images {
    background-color: #f5ebeb;

    min-width: 550px;
    // margin: 20px 10px 20px 10px;

    width: 45%;
}
.recipe-items {
    padding: 1em;
    background-color: #f5ebeb;
    h2 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    // border: 1px solid black;
    // min-height: 200px;
    width: 45%;
    min-width: 550px;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
}

.author-info {
    display: flex;
    justify-content: space-between;
    .user-info {
        display: flex;
        align-self: flex-start;
    }
}

.author-image {
    height: 50px;

    min-width: 50px;
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 50%;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 400px;
    flex-flow: row wrap-reverse;
    margin: 20px 0;

    .coocking {
        width: 70%;
    }
    .ingridients {
        width: 20%;
        align-self: flex-end;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}
// ================================comments===================================
.comments-block {
    background-color: #f3f1f1;
    padding-bottom: 1em;
}
.comment {
    display: flex;
    margin: 1em auto;
    width: 80%;
    height: 180px;
    // justify-content: flex-start;
    flex-flow: row nowrap;
    background-color: #ffffff;
    // align-content: center;
    align-items: center;
    // border: 1px solid black;

    .img-div {
        border: 1px solid black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 50px;
    }
    .comment-text {
        display: flex;
        flex-flow: column wrap;
        margin: 10px;
    }
    h5 {
        margin: 15px 0;
    }
    p {
        margin: 15px 0;
    }
    .reply-link {
        margin: 2em 0em 0em 0em;
    }
}

.enter-comment {
    display: flex;
    margin: 0em auto;
    width: 75%;
    height: 140px;
    // justify-content: flex-start;
    flex-flow: column nowrap;
    // align-content: center;
    align-items: stretch;
    // border: 1px solid black;

    textarea {
        width: 100%;
        height: 65px;
        margin: 1em 0 1em 0;
        resize: none;
    }

    .add-comments-btn {
        align-self: flex-end;

        button {
            text-transform: uppercase;
            background-color: #666666;
            color: #ffffff;
            border: 1px solid #666666;
            padding: 5px;
        }
    }
}

/* ======================deopdown========================== */
.dropdown {
    float: left;
    overflow: hidden;
    &:hover {
        background-color: red;
    }
    .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        &:focus {
            background-color: red;
        }
    }
}
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
            background-color: #ddd;
        }
    }
}

.show {
    display: block;
}

/* =========================FOOTER================================== */
footer {
    min-height: 220px;
    flex: 0 0 auto;

    .footer-block-2 {
        height: 220px;
        background-color: #c4c4c4;
        // margin-bottom: 0;
        padding-top: 0.6em;

        h4 {
            text-align: center;
            margin: 1em auto;
        }
        .social-media {
            display: flex;
            justify-content: center;
            

            ul {
                list-style: none;
                display: flex;
                margin: 0;
                li {
                    margin: 1em;
                }
            }
        }
        .links {
            display: flex;
            justify-content: flex-start;
            ul {
                list-style: none;
                display: flex;
                margin-top: 3.4em;
                li {
                    margin-right: 0.6em;
                }
            }
        }
    }
}
// ====================================add rcipe========================================================
.add-rec{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    .recipe-name{
        height: 40px;
        border: none;
        font-size: 30px;
        text-align: center;
    }
    textarea {
        width: 100%;
        height: 65px;
        margin: 1em 0 1em 0;
        resize: none;
        text-align: center;
    }
}
