/* =========================HEADER================================== */
body{
    margin: 0;
}
.center{
    text-align: center;
  
}
header {
    height: 450px;    
    width: 100%;
    background-color: #C4C4C4;
}
.navigation{
    display: flex;
    justify-content: space-around;
    /* background-color: #C4C4C4; */
}

a{
	text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
ul>li{
    height: 20px;
    width: 100px;
    justify-content: space-between;
}

.nav-links a{
    /* display: flex;
    justify-content: space-between; */
    color: #000000;
}
.add-recipe-button{
    height: 40px;
    width: 150px;
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.search{

}
.search-items{
    background-color: #E2E2E2;    
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.popular-categories{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;    
}
.popular-categories div{
    min-height: 150px;
    width: 30%;
    margin: 20px;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: #E2E2E2;
    
}
.all-categories-button{
    margin: 0 auto;

}
.newest-recipes{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; 
}
.newest-recipes div{
    min-height: 150px;
    width: 20%;
    margin: 20px;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: #E2E2E2;
}
.newest-recipes-button{
    height: 50px;
    width: 200px;
    background-color: #C4C4C4;
    color: #000000;
    border: none;
    border-radius: 5px;
}

/* =========================FOOTER================================== */

.footer{
    height: 150px;
    background-color: #E2E2E2;

}

/* =============================select/input============================== */

/* .select-style-user select{
    border-radius: 0;
    background: transparent;
    height: 40px;
    padding: 5px;
    border: none;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    font-size: 13px;


}

.select-style-categories{
    border-radius: 0;
    background: transparent;
    height: 44px;
    padding: 5px;
    margin: 5px;
    border: 0;
    background-color:  #C4C4C4;
    font-size: 13px;
    line-height: 1;
    -webkit-appearance: none;
    width: auto;

} */
.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
}

.mainmenubtn:hover {
    background-color: red;
    }
    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.search-input{
    background-color: #C4C4C4;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
}