/* =========================HEADER================================== */
body{
    margin: 0;
}
.center{
    text-align: center;
  
}
header {
    height: 450px;    
    width: 100%;
    background-color: #C4C4C4;
}
nav{
    background-color: #C4C4C4;

}
.navigation{
    display: flex;
    justify-content: space-around;
    /* overflow: hidden; */
    /* background-color: #C4C4C4; */

    /* background-color: #C4C4C4; */
}

a{
	text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
ul>li{
    height: 20px;
    width: 100px;
    justify-content: space-between;
}

.nav-links a{
    /* display: flex;
    justify-content: space-between; */
    color: #000000;
}
.add-recipe-button{
    height: 40px;
    width: 150px;
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.search{

}
.search-items{
    background-color: #E2E2E2;    
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.popular-categories{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;    
}
.popular-categories div{
    min-height: 150px;
    width: 30%;
    margin: 20px;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: #E2E2E2;
    
}
.all-categories-button{
    margin: 0 auto;

}
.newest-recipes{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap; 
}
.newest-recipes div{
    min-height: 150px;
    width: 20%;
    margin: 20px;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: #E2E2E2;
}
.newest-recipes-button{
    height: 50px;
    width: 200px;
    background-color: #C4C4C4;
    color: #000000;
    border: none;
    border-radius: 5px;
}

/* =========================FOOTER================================== */

.footer{
    height: 150px;
    background-color: #E2E2E2;
    margin-bottom: 0;
}

/* =============================select/input============================== */


.search-input{
    background-color: #C4C4C4;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
}

/* =============================single-recipe page============================== */
.flex-items{
    display: flex;
    justify-content: space-between;

}
.recipe-images{
    border: 1px solid black;
    height: 200px;
    width: 40%;
}
.recipe-items{
    border: 1px solid black;
    min-height: 200px;
    width: 40%;
}
.recipe-describe{
    display: flex;
    justify-content: space-around;
}
.author-info{
    display: flex;
    justify-content: space-between;

}
.author-image{
    height: 50px;
    min-width: 40px;
}

.ingridient-ul{
    /* display: flex; */
}
/* ======================deopdown========================== */
.dropdown {
    float: left;
    overflow: hidden;
  }
  .show {
    display: block;
  }
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
